backend/app/__pycache__/
.scannerwork/.sonar_lock
.scannerwork/report-task.txt
backend/.coverage
backend/.coveragerc
backend/coverage.xml
backend/sonar-project.properties
backend/.scannerwork/.sonar_lock
backend/.scannerwork/report-task.txt
backend/app/main.py_mlflow
backend/app/model_loader.py_mlflow
backend/tests/test_model_loader.py
frontend/package.json
frontend/sonar-project.properties
frontend/.scannerwork/.sonar_lock
frontend/.scannerwork/report-task.txt
ML/.coverage
ML/coverage.xml
ML/sonar-project.properties
ML/.scannerwork/.sonar_lock
ML/.scannerwork/report-task.txt
